<h1>Flight Booker</h1>

<%= form_with method: :get do |form| %>
    <%= select_tag(:outbound_airport, options_for_select(@airport_options)) %>
    <%= select_tag(:destination_airport, options_for_select(@airport_options)) %>
    <%= select_tag(:number_of_passengers, options_for_select((1..4)))%>
    <%= select_tag(:date, options_for_select(@date_options)) %>
    <button type="submit">Submit</button>
<% end %>

<% if @flights.any? %>
    <%= form_with method: :get do |form| %>
        <%= form.collection_radio_buttons :flight, @flights, :id, :flight_label %>
    <% end %>
<% end %>
